PORT=5000
MONGO_URI=mongodb+srv://bharat0210:Bharat123@hello.kmsnd1s.mongodb.net/portfolio?retryWrites=true&w=majority
JWT_SECRET=ljXLibfh6jK2DVJEjzL9w1HRSwAsu97raZrAUi2OGXl
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=duto1rizq
CLOUDINARY_API_KEY=199273797932843
CLOUDINARY_API_SECRET=ocxwuO4kxjdGqZ22sf87yZmrP04
ADMIN_EMAIL=admin@bharat.com
ADMIN_PASSWORD=Bharat$0210
CLIENT_URL=http://localhost:5173
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
EMAIL_TO=your@gmail.com
